<h2>All Historical Landmarks</h2>

<a href="landmarks/new">New Landmark</a>
<br></br>
<ul>
  <%@landmarks.each do |landmark|%>
    <li><p><label> Name: </label>
    <%= landmark.name %></p>

  <p>  <label>Year Created: </label>
    <%= landmark.year_completed %></li></p>
  <%end%>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
